<div id="app">
  <div id="main">
  </div>
</div>

</div>

<div id="footer">
</div>

<script type="text/javascript">
window.prjName =   "<%= @project.name %>";
jQuery(function(){
  new App({el: $('#app')});
});
</script>