<div id="app">
  <div id="main">
    <div id="nodes">
    </div>
    <div class="job">
    </div>  	
  </div>
</div>

</div>

<div id="footer">
</div>

<script type="text/javascript">
window.cur_project =   "<%= @project.name %>";
jQuery(function(){
  new App({el: $('#app')});
});
</script>