<div id="app">
  <div id="main">
    <div>
		<ul id="nodes">
		</ul>    	
    </div>
    <div id="job">
    </div>  	
  </div>
</div>

</div>

<div id="footer">
</div>

<script type="text/javascript">
window.prjName =   "<%= @project.name %>";
jQuery(function(){
  new App({el: $('#app')});
});
</script>