// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.fm-navbar {
  @extend .navbar;
  @extend .navbar-static-top;
  @extend .navbar-inverse;
}

.fm-navbar-inner {
  @extend .navbar-inner;
}

.fm-notice {
  @extend .alert;
  @extend .alert-success;
}

.fm-alert, #error_explanation {
  @extend .alert;
  @extend .alert-error;
  h2 {
    font-size: $baseFontSize + 2px;
    line-height: $baseFontSize + 2px;
  }  
}

.fm-container {
  @extend .container;
  margin: 20px 20px;
}

div#main {
  @extend .row;
  @extend .clearfix;
}

.sidebar {
  @extend .span4;
  @extend .alert;
  @extend .alert-info;
  float: left;

  ul
  {
    list-style-type: none;
  }

  li
  {
    margin: 10px 10px;
  }

  a.node-fold {
    position: relative;
    left: -36px;
  }

  a.node-file {
    position: relative;
    left: -36px;
  }
}

.stack > *:not(.active) {
    display: none;
  }

.job {
  @extend .span6;
  float: right;
  div.help {
    display: none;
  }
}